# # ignore everything in sub dir
# */*
# # but those files
# !*/README.md
# !*/HELP.md
# !*/HINTS.md
# !*/*.cs
# !*/*.csproj
# !*/*.test.cs
# !*/.exercism

# or we can just ignore bin/ and obj/
*/bin
*/obj
